/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@300&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.5));
    overflow-x: hidden;
    background-repeat: no-repeat;
}

header,
.dark-bg {
    font-family: 'Acme', sans-serif;
}

main {
    font-family: 'Lato', sans-serif;
}

/*---------------------------- Headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Acme', sans-serif;
}

/*---------------------------- Navbar*/

.navbar {
    background-color: #333333;
}

.nav-link:hover {
    background: #333333;
    color: white;
    transition: 0.7s ease;
}

/*---------------------------- Notes title*/
.card-header {
    background: #0E6CFC;
    color: #FFFFFF;
    transition: 0.3s ease-in;
}

.card-header:hover {
    color: #FFFFFF;
    background: #8A8A8A;
    transition: 0.1s ease-in;
}

/*---------------------------- Links*/

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #0E6CFC;
}

.icon-bar {
    color: #333333;
}

.card h4 {
    margin: 40px 40px 0 40px;
    text-align: left;
}

.card h6 {
    margin: 25px 40px 0 40px;
    text-align: left;
}

.card p {
    text-align: right;
    margin-right: 50px;
    line-height: 10px;
}

/*------------------Messages*/
.alert {
    border: 1px solid #ccdef9d0;
    background-color: #ccdef9d0;
}

/*---------------Read More anchor*/

.read_more {
    color: #0E6CFC;
}

/*---------------Buttons*/

.btn-outline-info {
    text-align: center;
    float: left;
    background: #0E6CFC;
    border: none;
    color: white;
}

.btn:hover {
    background: #333333;
    color: white;
    border: 1px solid white;
}

.card img {
    height: 210px;
}

/*----------------------Images*/

.card-img-top {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card-img-top:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.2s ease;
}

.col-md-3 .card {
    width: 100%;
    height: 100%;

}

.border-bottom {
    font-family: 'Acme', sans-serif;
}

/*----------------------------------Table input*/
.controls input,
.textarea {
    width: 100%;
}

/*---------------- Icons*/

.fa {
    color: #FFFFFF;
}

.fa:hover {
    color: red;
}

.dark-bg {
    background-color: #333333
}

.content-section {
    background: hsl(0, 0%, 100%);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.card-footer {
    background-color: #8A8A8A;
}

/*------------------------------------------------------Signup page*/
.signup input {
    display: block;
    width: 100%;
    border: 1px solid;
}

#id_login,
#id_password {
    display: block;
    width: 50%;
    border: 1px solid;
}

.link {
    color: #0E6CFC;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

/*------------------------------------------Media queries*/

/*Max width before this PARTICULAR table gets nasty. This query will take effect 
for any screen smaller than 760px and also iPads specifically. Help from Slack */
@media only screen and (max-width: 760px),
(min-width: 768px) and (max-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}