<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <title>Trainees Portal</title>
  {% block meta %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!--==========SEO Data==========-->
  <meta name="description" content="A portal site allowing all trainees to create, update, delete data and, read blog">
  <meta name="keywords" content="trainees, portal, inter, internship, traineeship, work placement, blog, post">
  {% endblock %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--==========Bootstrap css==========-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <!--==========Bootstrap bundle js==========-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <!--==========Font Awesome CDN import to allow usage of icons==========-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <!--==========Favicon==========-->
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <!--==========Link to access Static Style CSS file==========-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homelist' %}">Trainees Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <!--=======================Link to Home Page========================-->
              <a class="nav-link active" aria-current="page" href="{% url 'homelist' %}">Home</a>
            </li>
            <li class="nav-item">
              <!--=======================Link to Profile Page========================-->
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Options
              </a>
              <!--=======================Link to differents options========================-->
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'notes' %}">Notes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'assignments' %}">Assignments</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'tasks' %}">Task Lists</a>
              </div>
            </li>
            <!--=======================Link to authentification pages========================-->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br /><br />
  <main>

    <!-- Display alert messages -->
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-success.{{msg.tags}}">{{msg}}</div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}

  </main>

  <!--=====================Footer========================-->
  <footer class="footer mt-auto py-3 bg-bg">
    <p class="m-0 text-center text-white">Trainees Portal <i class="far fa-copyright"></i></p>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>