{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <h3>Welcome</h3>

  <hr> <br>

  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/azurlumbe/image/upload/v1635277268/notes_chxhbj.jpg" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title">
              Notes
            </h5>
            Create Notes to refer them later. They are stored permanently until deleted
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="{% url 'assignments' %}">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/azurlumbe/image/upload/v1635277243/assignment_quevwz.jpg" alt="Assignment image">
          <div class="card-body">
            <h5 class="card-title ">
              Assignments
            </h5>
            Add assignments and their deadlines. They will be displayed prioritised by deadlines
          </div>
        </div>
      </a>
    </div>
    
    <div class="col-md-4">
      <a href="{% url 'tasks' %}">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/azurlumbe/image/upload/v1635277251/to-do_wvyove.jpg" alt="To-do image">
          <div class="card-body">
            <h5 class="card-title ">
             Task Lists
            </h5>
            Add your task lists for your day and remove them as you finish
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <br><br><br>
  <div class="row">
    <div class="col-md-4 ">
      <a href="#">
        <div class="card mt-20">
          <img class="card-img-top" src="https://res.cloudinary.com/azurlumbe/image/upload/v1635278000/mindset_wgmjud.jpg" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Blog post 1
            </h5>
            Some content here  
          </div>
        </div>
      </a>
    </div>



    <div class="col-md-4">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/azurlumbe/image/upload/v1635278013/learn_ut8mhf.jpg" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Blog Post 2
            </h5>
            Some Content here
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/azurlumbe/image/upload/v1635278017/advice_abq4yn.jpg" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Blog post 3
            </h5>
            Some content here
          </div>
        </div>
      </a>
    </div>


</section>
{% endblock content %}